.fi-breadcrumbs{
  .fi-breadcrumbs-list{
    svg{
      color: white;   
    }
    .fi-breadcrumbs-item-label{
      color: white;
      font-size: 18px;
      transition: 100ms;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.9), 0 0 10px rgba(0, 0, 0, 0.9);
      &:hover{
        color: var(--color-amber-400);
      }
    }
    
    li:last-child{ 
      .fi-breadcrumbs-item-label { 
        color: var(--font-albion-secondary);
        &:hover{
          cursor: default;
        }
        // font-weight: 600;
        // text-shadow: 0 0 8px var(--game-accent-glow); /* Delikatny growy blask */
      }
    }
  }
}